.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.game {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vh;
  height: 50vh;
  /* background-color: burlywood; */
}

.table {
  text-align: center;
  height: 100%;
  width: 100%;
}

.right {
  border-right-style: solid;
  border-right-color: black;
  border-width: 5px;
}
.bottom {
  border-bottom-style: solid;
  border-bottom-color:black;
  border-width: 5px;
}

.square {
  width: 33%;
  height: 33%;
}
p {
  font-size: 500%
}